@model Person
﻿@{
   
    ViewData["Title"] = "Person Details";
}
    <div class="page-content">
        <h1>Person Details</h1>
        <div class="box w-50">
            <h3>@Model.PersonName</h3>
            <table class="table w-100">
                <tbody>
                    <tr>
                        <td>Gender</td>
                        <td>@Model.PersonGender</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>@Model.DateOfBirth?.ToString("MM/dd/yyyy")</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="/">Back to persons</a>
    </div>
