@model PersonAndProductWrapperModel
﻿@{
   
    ViewData["Title"] = "Person and Product";
}
    <div class="page-content">
        <h1>Person and Product</h1>

        <div class="box w-100">
            <h3>Person</h3>
            <table class="table w-50">
                <tbody>
                    <tr>
                        <td>Person Name</td>
                        <td>@Model.PersonData.PersonName</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>@Model.PersonData.PersonGender</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="box w-100">
            <h3>Product</h3>
            <table class="table w-50">
                <tbody>
                    <tr>
                        <td>Product Id</td>
                        <td>@Model.ProductData.ProductId</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td>@Model.ProductData.ProductName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
